{% extends 'base.html.twig' %}
{% block title %}Activation du compte{% endblock %}

{% block body %}
	<h1>Bonjour et bienvenue</h1>
    <div class="row mt-5">
        <div class="col-6 mt-5 mx-auto">
            <p>Votre inscription sur le site SnowTricks est à valider via un mail d'activaton que vous allez recevoir dans quelques instants à votre adresse e-mail {{ email }}. Le lien d'activation de votre compte expirera dans 3 heures.</p>
        </div>    
	</div>
{% endblock %}