{% extends 'base.html.twig' %}
{% block title %}Activation du compte{% endblock %}

{% block body %}
    <h1>Votre demande d'activation de compte a expiré</h1>
    <div class="row mt-5">
        <div class="col-6 mt-5 mx-auto">
            <p>Le lien de confirmation que vous avez suivi a expiré. Veuillez renvoyer une demanded'activation.</p>
            {# <p><a href="{{ path('registration_reactivate') }}">Nouvelle demande d'activation</a></p> #}

            {# <p>Un nouveau token a été envoyé à votre adresse e-mail {{ user.email }}.</p>
            <p>Veuillez vérifier votre boîte de réception et cliquer sur le lien de confirmation pour activer votre compte.
            Ce lien permettant l'activation de votre compte expirera dans 3 heures.</p> #}
        </div>    
	</div>
{% endblock %}

