{% extends 'base.html.twig' %}
{% block title %}Liste de Catégories{% endblock %}

{% block body %}
	<section class="category">
		{% for category in categories %}
			<article>
				<h4>{{ category.name }}</h4>
				<div class="content">
					<p>{{ category.description | raw }}</p>
					<a href="{{ path('category_showOne', {'slug':category.slug}) }}" class="btn btn-primary">Lire la suite</a>
				</div>
			</article>
		{% endfor %}
	</section>
{% endblock %}
