{% extends "base.html.twig" %}
{% block title %}{{ pageTitle }}{% endblock %}

{% block body %}
    <main class="container">
        <section class="row">
            <div class="col-12">
                <h1>{{ pageTitle }}</h1>
                <p>{{ errorMessage }}</p>            
            </div>
        </section>
    </main>
{% endblock %}