.page-wrapper {
  position: relative;
  min-height: 100vh;
  padding-bottom: 100px; /* Hauteur du footer */
}

/* Styles pour les écrans larges */
@media screen and (min-width: 992px) {
  /* body {
    font-size: 0.8em;
  }
  h1, h2, h3, h4, h5, h6 {
    font-size: 0.8em;
  } */
}

/* Styles pour les écrans moyens */
@media screen and (min-width: 768px) and (max-width: 991px) {
  /* body {
    font-size: 0.8em;
  }
  h1, h2, h3, h4, h5, h6 {
    font-size: 0.8em;
  } */
}

/* Styles pour les écrans étroits */
@media screen and (max-width: 767px) {
  /* body {
    font-size: 0.8em;
  }
  h1, h2, h3, h4, h5, h6 {
    font-size: 0.8em;
  } */
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
}
  
  
  